In [1]:
listx = ["aa", "cc", "rr", "jj", "aa", "ww", "jj", "aa", "ii"]

In [2]:
for val in listx:
    print("val =", val)

val = aa
val = cc
val = rr
val = jj
val = aa
val = ww
val = jj
val = aa
val = ii

In [3]:
avengers = ["captain", "ironman", "thor", "loki"]

In [4]:
for name in avengers:
    print("name =", name)

name = captain
name = ironman
name = thor
name = loki

In [5]:
for name in avengers:
    if "o" in name:
        print(name)

ironman
thor
loki

In [6]:
for name in avengers:
    if "man" in name:
        print(name)

ironman

In [7]:
grades = [34, 78, 65, 42, 79, 22, 59]

In [8]:
for n in grades:
    if n > 35:
        print("pass")
    else:
        print("fail")

fail
pass
pass
pass
pass
fail
pass

In [9]:
for n in grades:
    if (n + n*0.1) >= 35 :
        print("pass")
    else:
        print("fail")

pass
pass
pass
pass
pass
fail
pass

In [11]:
for n in grades:
    if n >= 35 :
        print("pass")
    else:
        print("fail")

fail
pass
pass
pass
pass
fail
pass

In [15]:
week1 = ["y", "n", "n", "n", "n"]

In [17]:
count = 0

for presence in week1:
    if presence == "y":
        count = count + 1
        
if count <= 1:
    print("come & collect your resignation")
elif count < 3:
    print("need to come 3 days in the next week")
else:
    print("need to come 2 days in the next week")

come & collect your resignation

In [18]:
for i in range(1, 5):
    print("i =", i)

i = 1
i = 2
i = 3
i = 4

In [19]:
for i in range(5, 1, -1):
    print("i =", i)

i = 5
i = 4
i = 3
i = 2

In [ ]:
week1 = ["y", "y", "y", "n", "n"]

for i in range(len(week1)):
    print("i =", i)

In [22]:
week_a = ["y", "y", "y", "n", "n"]

if week_a[0]=="y" and week_a[1] == "y" and week_a[2] == "y":
    week_b = ["n", "n", "n", "y", "y"]
else:
    week_b = ["y", "y", "y", "n", "n"]

In [21]:
for i in range(5):
    print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [ ]:
for i in range(len(week_a)):
    print("i =", i)

In [23]:
week_a = ["y", "y", "y", "n", "n"]

for i in range(5):
    print(week_a[i])

y
y
y
n
n

In [24]:
week_a = ["y", "y", "n", "n", "y"]

for i in range(5):
    if week_a[i] == "y":
        print("came on day", i+1)

came on day 1
came on day 2
came on day 5

In [26]:
week_a = ["y", "y", "n", "n", "n", "y", "y"]

for i in range(len(week_a)):
    if week_a[i] == "y":
        print("came on day", i+1)

came on day 1
came on day 2
came on day 6
came on day 7

In [27]:
week_a = ["y", "y", "n", "n", "n", "y", "y"]

for i in range(5, len(week_a)):
    if week_a[i] == "y":
        print("came on day", i+1)

came on day 6
came on day 7

In [30]:
week_a = ("y", "y", "n", "n", "n", "y", "y")
week_b = []

for i in range(len(week_a)):
    if week_a[i] == "y":
        week_b.append("n")
    else:
        week_b.append("y")

In [31]:
week_b

['n', 'n', 'y', 'y', 'y', 'n', 'n']

In [36]:
week_a = ("y", "y", "n", "n", "n", "yes", "y")
week_b = []

for i in range(len(week_a)):
    if week_a[i].lower() == "y" or week_a[i].lower() == "yes":
        week_b.append("n")
    else:
        week_b.append("y")

In [35]:
week_b

['n', 'n', 'y', 'y', 'y', 'n', 'n']

In [39]:
week_a = ("Y", "YES", "n", "n", "n", "yes", "y")
week_b = []

for i in range(len(week_a)):
    if "y" in week_a[i].lower():
        week_b.append("n")
    else:
        week_b.append("y")
        
week_b

['n', 'n', 'y', 'y', 'y', 'n', 'n']

In [41]:
week_a = ("Y", "YES", "n", "n", "n", "yes", "y")
day_of_week = []

for i in range(len(week_a)):
    if "y" in week_a[i].lower():
        day_of_week.append(i)
        
day_of_week

[0, 1, 5, 6]

In [42]:
week_a = ("Y", "YES", "n", "n", "n", "yes", "y")
day_of_week = []

dict_week = {0:"mon", 1:"tue", 2:"wed",
            3:"thu", 4:"fri", 5:"sat", 6:"sun"}

for i in range(len(week_a)):
    if "y" in week_a[i].lower():
        day_of_week.append(dict_week[i])
        
day_of_week

['mon', 'tue', 'sat', 'sun']

In [43]:
for char in "world":
    print(char)

w
o
r
l
d

In [44]:
for val in {"aa", "bb", "ww", "ab", "yt", "gr"}:
    print(val)

bb
ab
yt
gr
ww
aa

In [45]:
for i in range(11, 25, 4):
    print("i =", i)

i = 11
i = 15
i = 19
i = 23

In [46]:
lang = "malayalam"

In [ ]:
lang[0] == lang[-1]

In [47]:
week1.count("y")

1