In [1]:
set_a = {"mango", "orange", "grapes", "jackfruit", "mango", "apple", "apple"}

In [2]:
set_b = {"water melon", "papaya", "banana", "mango", "apple"}

In [3]:
type(set_a)

set

In [4]:
set_a

{'apple', 'grapes', 'jackfruit', 'mango', 'orange'}

In [5]:
set_b

{'apple', 'banana', 'mango', 'papaya', 'water melon'}

In [6]:
set_b[2]

TypeError: 'set' object is not subscriptable

In [7]:
set_b.add('kiwi')

In [8]:
set_b

{'apple', 'banana', 'kiwi', 'mango', 'papaya', 'water melon'}

In [9]:
#union , all
set_a | set_b

{'apple',
 'banana',
 'grapes',
 'jackfruit',
 'kiwi',
 'mango',
 'orange',
 'papaya',
 'water melon'}

In [10]:
# intersection, common
set_a & set_b

{'apple', 'mango'}

In [11]:
# difference 
set_a - set_b

{'grapes', 'jackfruit', 'orange'}

In [12]:
# sym diff, uncommon
set_a ^ set_b

{'banana', 'grapes', 'jackfruit', 'kiwi', 'orange', 'papaya', 'water melon'}

In [13]:
listx = [23, 56, 78]
listy = [23, 56]


setx = {"hi", "hello", listx, listy}

listy.append(78)

TypeError: unhashable type: 'list'

In [14]:
listx = (23, 56, 78)
listy = (23, 56)


setx = {"hi", "hello", listx, listy}