In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [4]:
dfa = pd.read_csv("data.csv")

In [5]:
dfa

   id first_name  val_a  val_b last_name
0  22         gg     66   77.0        tt
1  44         jj     12   66.0        io
2  30         hh     23    NaN        ui
3  83         ti     29   45.0       rr

In [6]:
dfa.isna().sum()

id            0
first_name    0
val_a         0
val_b         1
last_name     0
dtype: int64

In [7]:
dfa.isna()

      id  first_name  val_a  val_b  last_name
0  False       False  False  False      False
1  False       False  False  False      False
2  False       False  False   True      False
3  False       False  False  False      False